.divider-p p {
    background-color: white;
    padding: 6px 16px;
    border: solid 2px #1f2937;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0px #1f293723;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.divider-p .material-symbols-outlined {
    color: #1f2937;
    font-size: 28px;
    
}
.list-disc li {
    font-size: 18px;
}


.ikonki1 .material-symbols-outlined {
    font-size: 35px;
    display: flex;
    padding: 4px;
}
.img-div img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #0000003b;
    cursor: pointer;

}
.img-div {
    position: relative;
}
#popup-div .material-symbols-outlined {
    font-size: 40px;
    padding: 8px;
}
@media (max-width: 640px) {
    #popup-div .material-symbols-outlined {
        font-size: 30px;
        padding: 6px;
    }
}
.left,.right {
    animation-timing-function: ease-in;
    animation-duration: 250ms;
}

.left {
    animation-name: slideInRight;

}
.right {
    animation-name: slideInLeft;

}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}