.divider-p p {
    background-color: white;
    padding: 6px 16px;
    border: solid 2px #1f2937;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0px #1f293723;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.divider-p .material-symbols-outlined {
    color: #1f2937;
    font-size: 28px;

    
}
.list-disc li {
    font-size: 18px;
}
.ikonki1 .material-symbols-outlined {
    font-size: 35px;
    display: flex;
    padding: 4px;
   
}

@media (max-width: 640px) {
    .img-div img {
        width: 400px;
        max-width: 100%;
        height: 55%;
        max-height: 250px;
        border-radius: 10px;
    }
}

#popup-div .material-symbols-outlined {
    font-size: 45px;
    padding: 6px;
}
@media (max-width: 640px) {
    #popup-div .material-symbols-outlined {
        font-size: 35px;
        padding: 4px;
    }
}




/* All Aps */

.h2-medium {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.hr-2-3 {
    border: 2px solid black;
    height: 2px;
    width: 66%;
    margin: 16px 0px;
}
.h3-medium {
    font-size: 36px;
    font-weight: 400;
}



@media (max-width: 640px) {
    .h2-medium {
        font-size: 30px;
    }
}

/* gallery */

#gallery img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.226);
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-btn {
    position: absolute;
    border: solid 2px var(--my-color);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.533);
    
    padding: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}
.gallery-btn svg {
    height: 24px;
    width: 24px;
    fill: var(--my-color);
}
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
    justify-content: center;
}
@media (max-width: 640px) {
    #gallery {
        display: flex;
        gap: 16px;
        align-items: center;
        position: relative;
        max-width: 100%;
        
        margin: 0px auto;
        width: 100%;
    }
    .gallery-btn {
        display: flex;
    }
    #gallery img {
        border-radius: 10px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.226);
        width: 100%;
        aspect-ratio: 3/2;
        height: auto;
        max-width: 100%;
        margin: 0px auto;
        object-fit: cover;
        cursor: pointer;
       
    }

}

