.divider-p p {
    background-color: white;
    padding: 6px 16px;
 
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0px #1f293723;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.divider-p {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.divider-p .material-symbols-outlined {
    color: var(--my-color);
    font-size: 28px;

    
}
.list-disc li {
    font-size: 18px;
}



@media (max-width: 640px) {
    .img-div img {
        width: 400px;
        max-width: 100%;
        height: 55%;
        max-height: 250px;
        border-radius: 10px;
    }
}

#popup-div .material-symbols-outlined {
    font-size: 45px;
    padding: 6px;
}
@media (max-width: 640px) {
    #popup-div .material-symbols-outlined {
        font-size: 35px;
        padding: 4px;
    }
}




/* All Aps */

.h2-medium {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.hr-2-3 {
    border: 2px solid var(--my-color);
    height: 2px;
    width: 66%;
    margin: 16px 0px;
    background-color: var(--my-color);
}
.h3-medium {
    font-size: 30px;
    font-weight: 500;
}



@media (max-width: 640px) {
    .h2-medium {
        font-size: 30px;
    }
    .h3-medium {
        font-size: 24px;
    }
}

/* gallery */

#gallery img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.226);
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-btn {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    
    padding: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}
.gallery-btn svg {
    height: 22px;
    width: 22px;
    fill: var(--my-color);
}
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
    justify-content: center;
}
@media (max-width: 640px) {
    #gallery {
        display: flex;
        gap: 16px;
        align-items: center;
        position: relative;
        max-width: 100%;
        
        margin: 0px auto;
        width: 100%;
    }
    .gallery-btn {
        display: flex;
    }
    #gallery img {
        border-radius: 10px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.226);
        width: 100%;
        aspect-ratio: 3/2;
        height: auto;
        max-width: 100%;
        margin: 0px auto;
        object-fit: cover;
        cursor: pointer;
       
    }

}

.opis-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
} 
.opis-inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

}

section {
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.section-my {
    margin: 40px 0px;
}
.dodatkowe-informacje-div {

    display: flex;
    gap: 32px;
    width: 100%;
    justify-content: center;
}
.dodatkowe-informacje-inner {
  
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border-radius: 12px;
    width: 50%;
    background-color: white;

}
.dodatkowe-img {
    width: 50%;
}
.dodatkowe-img img,.dodatkowe-img source {
    object-fit: contain;
    width: 100%;
    border-radius: 12px;
}
.main-div {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 20px 0px;
}
.main-div hr {
   
    margin: 0px auto;
    border: 2px solid var(--my-color);
    background-color: var(--my-color);
    width: 66%;
    height: 2px;
}
h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}  
.dodatkowe-informacje-inner hr {
 
    border: 2px solid var(--my-color);
    height: 0px;
    width: 33%;
}
.dodatkowe-informacje-inner ul {
  
    list-style-type: disc;
    list-style-position: inside;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.dodatkowe-informacje-inner p {
    font-size: 18px;

}
.dodatkowe-informacje-inner h3 {
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 640px) {
    h1 {
        font-size: 30px;

    }
}

@media (max-width: 1280px) {
    .dodatkowe-informacje-div {
        max-width: 700px;
        align-items: center;
        flex-direction: column;
    }
    .dodatkowe-img {
        width: 100%;
    }
    .opis-div {
        flex-direction: column;
        max-width: 700px;
    }
    .opis-inner {
        width: 100%;
    }
    .dodatkowe-informacje-inner {
        width: 100%;
    }
}