
.url-atrakcje {
    overflow: hidden;
}


.img-atrakcje {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.226);
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}
.grid-img {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
    justify-content: center;
}
#popup-div .material-symbols-outlined {
    font-size: 40px;
    padding: 8px;
}
@media (max-width: 500px) {
    #popup-div .material-symbols-outlined {
        font-size: 30px;
        padding: 6px;
    }
}