@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --my-color: #1f2937;
}

* {
    box-sizing: border-box;
}

body::before {
    content: "";
    background: linear-gradient(rgb(255, 255, 255, 0.85), rgb(255, 255, 255, 0.85)), url("/apartamenty/img/galeria/back-main.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;

}
@media (max-width: 768px) {
    body::before {
        background: linear-gradient(rgb(255, 255, 255, 0.75), rgb(255, 255, 255, 0.75)), url("/apartamenty/img/galeria/back-main.jpg");
        background-position: center;
    }
}
body {
    font-family: Poppins;
    margin: 0px;
    padding-left: 64px;
   
    
}
main {
    padding-bottom: 50px;
}


@media(max-width: 768px) {
    body {
        padding-left: 0px;
    }
}

section {
    padding: 25px;
}


.nav-bar-icons {
    display: flex;
    margin: 0 auto;
}
.nav-bar-icons .material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    padding: 7px;
    font-size: 28px;

}
.nav-bar-icons .sidebar-child {
    display: none;
}
.nav-bar-icons:hover .sidebar-child {
    display: flex;
    position: absolute;
    left: 5rem;
    margin-top: 2px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 30px;
    padding: 6px 12px;
    font-size: 18px;
    background-color: #1f2937;
    text-align: left;
    text-wrap: nowrap;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.308);
    animation: scale 80ms linear;
    transform-origin: 0% 0%;
}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu-a {
    display: flex;
    gap: 5px;
}
.shadow-div {
    box-shadow: 3px 0px 10px 0px #1f29374d;
}
.popup-ap {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}
.popup-link {
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.205);
    border: solid 3px #1f2937;
    transition-duration: 250ms;
    width: 400px;
    max-width: 30%;
    animation: growIn 400ms ease-in-out;
}


.popup-link:hover {
    transform: scale(1.03);
}
@media (max-width: 1024px) {
    .popup-link {
        max-width: 90%;
    }
}

.popup-ap .material-symbols-outlined {
    color: #1f2937;
    font-size: 25px;
}
.popup-ap li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
}
#lista-show a {
    text-decoration: underline;
    text-decoration-color: #1f2937;
}
@keyframes growIn {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes scale {
    0% {
        scale: 0 1;
    }
    100% {
        scale: 1 1;
    }
}