.lista {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);

    background-color: white;
    font-size: 18px;
}
.lista .material-symbols-outlined {
    font-size: 35px;
 
}
.lista-div {
    display: flex;
    gap: 28px;
  
}
.lista-div img {
    width: 33%;
    border-radius: 12px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);

}

.lista h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
  
}
@media (max-width: 1024px) {
    
    .lista-div img {
        width: 100%;

    }
}



@keyframes slide-in-up {
    0% {
        transform: translateY(200%);
    } 
    100% {
        transform: translateY(0%);
    }
}
.slide-in-up {
    animation: slide-in-up 500ms ease-in;
}


.galeria-img {

    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    box-shadow:  5px 5px 15px -3px rgba(0, 0, 0, 0.199);
    aspect-ratio: 3/2;
}

.rotate-arrow {
    transform: rotate(180deg);
}

input, textarea {
    border-radius: 5px;
    border-bottom: solid 3px black;
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
    padding: 2px;
}
label {
    font-size: 18px;
}

.slider-show {
    animation: sliderShow 500ms linear;
}


@keyframes sliderShow {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}


#popup-div .material-symbols-outlined {
    font-size: 40px;
    padding: 8px;
}
@media (max-width: 640px) {
    #popup-div .material-symbols-outlined {
        font-size: 30px;
        padding: 6px;
    }
}


/*  Atrakcje W Okolicy  */

@keyframes rollAtrakcje {
    0% {
        max-height: 0;
   
    }
    100% {
        max-height: 700px; 

    }
}

@keyframes hideImgAtrakcje {
    0% {

        max-height: 160px;
    }
    100% {
   
        max-height: 0px;
    }
}

@keyframes rollAtrakcjeReverse {
    0% {
        max-height: 700px; 

    }
    100% {
        max-height: 0;
   
    }
}

.animation-atrakcje {
    animation-name: rollAtrakcje;
    animation-duration: 200ms;
    animation-timing-function: linear;
    overflow: hidden;
}

.animation-atrakcje-reverse {
    animation-name: rollAtrakcjeReverse;
    animation-duration: 200ms;
    animation-timing-function: linear;
    overflow: hidden;
}

.animation-atrakcje-img {
    animation-name: hideImgAtrakcje;
    animation-duration: 200ms;
    animation-timing-function: linear;
    transform-origin: center;
    overflow: hidden;
}

.animation-atrakcje-img-reverse {
    animation-name: hideImgAtrakcje;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-direction: reverse;
    transform-origin: center;
    overflow: hidden;
}
.atrakcje-list-div {
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
}
.atrakcje-list-div a {
    text-decoration: underline;
}